<?xml version="1.0"?>
<configuration>

    <system.web>
        <!--  <trust level="Full" originUrl=".*"/>
       
        Set compilation debug="true" to insert debugging 
        symbols into the compiled page. Because this 
        affects performance, set this value to true only 
        during development.
        -->
        <compilation debug="true" targetFramework="4.0" />

        <!--  
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user.

        Note, the Pivot CTP1 desktop application does not support the Windows authentication
        mode, so the authentication mode is set to None here.
        The Silverlight PivotViewer control is able to use any type of authentication.
        If your collection application is only using the Silverlight PivotViewer and requires 
        access to resources (files, databases, web services) using the Windows credentials of
        the person using the application, set the authentication mode to Windows.
   -->
        <authentication mode="None" />
        <!--
    <authentication mode="Windows"/>
-->

        <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
   -->
        <customErrors mode="Off"/>

        <!--
        The Visual Studio Development Server uses these httpHandler configuration values.
        To run the server under IIS, comment these handlers so that IIS will use the
        duplicate set of handlers in the system.webServer section below.
    -->
        <!--<roleManager enabled="false">
            <providers>
                <clear />
                <add name="UmbracoRoleProvider" type="umbraco.providers.members.UmbracoRoleProvider" />
            </providers>
        </roleManager>-->
        <!--<httpModules>
            <remove name="ScriptModule" />
            <remove name="UrlRewriteModule" />
            <remove name="umbracoRequestModule" />
            <remove name="viewstateMoverModule" />
            <remove name="umbracoBaseRequestModule" />
            <remove name="ClientDependencyModule" />
        </httpModules>
    <httpHandlers>
        <add path="*.cxml" verb="GET" type="PivotServer.CxmlHandler"/>
        <add path="*.dzc" verb="GET" type="PivotServer.DzcHandler"/>
        <add path="*.dzi" verb="GET" type="PivotServer.DziHandler"/>
        <add path="*/dzi/*_files/*/*_*.jpg" verb="GET" type="PivotServer.DeepZoomImageHandler"/>
        <add path="*_files/*/*_*.jpg" verb="GET" type="PivotServer.ImageTileHandler"/>
    </httpHandlers>-->
    </system.web>
</configuration>